.purple_text{
    color: #592EA9;
    font-weight: 700;
    font-size: clamp(16px, 1.4vw, 21px);
}
.gray_text{
    color: #6D6E76;
}
.blog_welcome_foto{
    width: 90vw;
    display: block; /* Делаем изображение блочным элементом */
    margin-left: auto; /* Выравниваем по центру слева */
    margin-right: auto; /* Выравниваем по центру справа */
}
.list{
    color: #161722;
    font-size: clamp(16px, 2vw, 21px);
    font-weight: 600;
}
.big_text{
    font-weight: 600;
}
.under_foto_1{
    color: #4C4C4C;
}
.under_foto_2{
    font-size: clamp(16px, 10vw, 21px);
    font-weight: 800;
}
.foto_list{
    width: 100%;
}