.welcome_window{
    position: relative;
}

.welcome_picturs{
    width: 100%; 
    height: 100%;
    position: absolute;   
}

.welcome_text_one{
    font-size: clamp(10px, 1.1vw, 16px);
    letter-spacing: 3px;
}

.welcome_span_one{
    font-size: clamp(10px, 1.1vw, 16px);
    letter-spacing: 3px;
}

.welcome_text_two{
    font-size: clamp(20px, 3.9vw, 56px);
}

.welcome_text_trhee{
    font-size: clamp(10px, 1.1vw, 16px);
}

.welcome_span_two{
    color: #FFD050;
}

.welcome_text_four{
    font-size: clamp(10px, 1.1vw, 16px);
}

.welcome_botton{
    font-size: clamp(12px, 1.25vw, 18px);
}

.welcome_botton.btn-primary, .welcome_botton.btn-primary:hover, .welcome_botton.btn-primary:active, .welcome_botton.btn-primary:visited {
    background-color: #FFD050 !important;
    border: none;
    border-radius: 0;
    color: #232536;
}

.welcome_modal_window_text{
    font-size: clamp(14px, 1.6vw, 24px);
}

.botton_welcome_window_modal_one.btn-primary, .botton_welcome_window_modal_one.btn-primary:hover, .botton_welcome_window_modal_one.btn-primary:active, .botton_welcome_window_modal_one.btn-primary:visited {
    background-color: #FBF6EA !important;
    border: none;
    border-radius: 0;
    color: #232536;
}

.botton_welcome_window_modal_two.btn-primary, .botton_welcome_window_modal_two.btn-primary:hover, .botton_welcome_window_modal_two.btn-primary:active, .botton_welcome_window_modal_two.btn-primary:visited {
    background-color: #FFD050 !important;
    border: none;
    border-radius: 0;
    color: #232536;
}






.tabs_text_1{
    font-size: clamp(25px, 2.5vw, 36px);
    font-weight: 700;
}

.tabs_text_6{
    margin-left: auto;
    font-size: clamp(10px, 1.1vw, 16px);
    color: #592EA9;
}

.tabs_block{
    border: 1px solid #EAEAEB;
}

.post_img_1{
    width: 100%;
}

.tabs_text_2{
    font-size: clamp(10px, 1vw, 14px);
}

.tabs_span_1{
    color: #592EA9;
}

.tabs_text_3{
    font-size: clamp(20px, 2vw, 28px);
    font-weight: 700;
}

.tabs_text_4{
    font-size: clamp(10px, 1.1vw, 16px);
    color: #6D6E76;
}

.tabs_bootn{
    font-size: clamp(12px, 1.25vw, 18px);
}

.tabs_bootn.btn-primary, .tabs_bootn.btn-primary:hover, .tabs_bootn.btn-primary:active, .tabs_bootn.btn-primary:visited {
    background-color: #FFD050 !important;
    border: none;
    border-radius: 0;
    color: #232536;
}

.tabs_text_5{
    font-weight: 700;
    font-size: clamp(14px, 1.6vw, 24px);
}

.nav-pills .nav-link.active {
    background-color: #FBF6EA;
    border-radius: 0;
}







.about_us_img{
    width: 80%;
    margin-left: auto;
}
.about_us_block{
    background-color: #F4F0F8;
}
.about_us_text_one{
    font-size: clamp(10px, 1.1vw, 16px);
    font-weight: 600;
    letter-spacing: 3px;
}
.about_us_text_two{
    font-size: clamp(25px, 2.5vw, 36px);
    font-weight: 700;
}
.about_us_text_three{
    font-size: clamp(20px, 2vw, 28px);
    font-weight: 700;
}
.about_us_text_foor{
    font-size: clamp(10px, 1.1vw, 16px);
    color: #6D6E76;
    font-weight: 400;
}
.about_us_text_five{
    font-size: clamp(12px, 1.25vw, 18px);
    color: #592EA9;
    font-weight: 700;
}









.discower_story_text_1{
    font-size: clamp(10px, 1.1vw, 16px);
    letter-spacing: 3px;
    font-weight: 600;
}

.discower_story_text_2{
    font-size: clamp(30px, 3.3vw, 48px);
    font-weight: 700;
}

.discower_story_text_3{
    font-size: clamp(10px, 1.1vw, 16px);
    color: #6D6E76;
}

.btn{
    display: flex;
    justify-content: start;
    border: none;
}

.discower_story_botton.btn-primary, .discower_story_botton.btn-primary:hover, .discower_story_botton.btn-primary:active, .discower_story_botton.btn-primary:visited {
    background-color: #FFD050 !important;
    border: none;
    border-radius: 0;
    color: #232536;
    font-size: clamp(12px, 1.25vw, 18px);
    font-weight: 700;
}










.list_authors{
    font-weight: 700;
    font-size: clamp(25px, 2.5vw, 36px);
}
.authors_text_1{
    font-size: clamp(20px, 1vw, 28px);
    font-weight: 700;
}
.authors_text_2{
    font-size: clamp(10px, 1vw, 14px);
    color: #6D6E76;
}
.authors_icons{
    display: flex;
    margin-top: auto;
}
.authors_block{
    background-color: #F4F4F4;
    width: 100%;
}
.authors_block_active{
    background-color: #FBF6EA;
    width: 100%;
}








.list_logo_class_1{
    font-size: clamp(10px, 1vw, 14px);
    color: #6D6E76;
}
.list_logo_class_2{
    font-size: clamp(12px, 1.6vw, 24px);
    color: #6D6E76;
    font-weight: 700;
}
.list_of_logo{
    width: 100%;
}



.sliders_block{
    background-color: #FBF6EA;
}
.sliders_text_1{
    font-size: clamp(10px, 1.1vw, 16px);
    letter-spacing: 3px;
    font-weight: 600;
}
.sliders_text_2{
    font-size: clamp(25px, 2.5vw, 36px);
    font-weight: 700;
}
.sliders_text_3{
    font-size: clamp(10px, 1.1vw, 16px);
}
.sliders_text_4, .sliders_text_5{
    font-size: clamp(14px, 1.6vw, 24px);
    font-weight: 700;
}
.sliders_text_6{
    font-size: clamp(10px, 1.1vw, 16px);
    color: #6D6E76;
}
.slider_picturs{
    width: 7.5%;
    height: 7.5%;
}




.carousel-controls{
    position: absolute;
    bottom: 37.5px; /* Расположение стрелок над слайдами */
    right: 0px;
    width: 85px;
    display: flex;
    justify-content: space-between;
}
.carousel-control-prev{
    background-color: white; /* Белый фон */
    opacity: 1;
    border-radius: 50%; /* Круглая форма */
    width: 30px; /* Ширина кнопок */
    height: 30px; /* Высота кнопок */
    border: none; /* Убираем рамку */
    margin-top: 6%;
}

.carousel-control-next{
    background-color: #232536;
    opacity: 1;
    border-radius: 50%; /* Круглая форма */
    width: 40px; /* Ширина кнопок */
    height: 40px; /* Высота кнопок */
    border: none; /* Убираем рамку */
}

.carousel-control-prev-icon{
    width: 20px; /* Ширина иконки */
    height: 20px; /* Высота иконки */
}

.carousel-control-next-icon{
    width: 20px; /* Ширина иконки */
    height: 20px; /* Высота иконки */
}





.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 375px;
    z-index:10; 
    border-radius:0px
}

@media(max-width: 768px){
    .welcome_text_one{
        margin-top: 5%;
    }

    .welcome_botton{
        margin-bottom: 5%;
    }

    .discower_story_block{
        position: relative;
    }

    .discower_story_img_1{
        width: 100%;
    }

    .sliders_text_4{
        margin-bottom: 10%;
    }
}

@media(min-width: 768px){
    .welcome_text_one{
        margin-top: 10%;
    }

    .welcome_botton{
        margin-bottom: 15%;
    }

    .discower_story_block{
        background-color: white;
        width: 55%;
        position: absolute;
        bottom: -0.5%;
        right: 0%;
    }

    .discower_story_img_1{
        width: 75%;
    }

    .sliders_text_4{
        margin-bottom: 15%;
    }
}